<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
    <section id="r" class="bg-cover bg-center">
        <div class = "grid grid-clos-2">
        <div class="col-start-3 col-span-2">
            <div class="max-w-md ">
            <h3 class="py-4 px-3 text-4xl font-extrabold text-gray-900 dark:text-white">Edit your Name </h3>
    <form action="" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="newName" id="" style="border: 2px solid black;">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Update</button>
    </form>
    </div>
            </div>
            </div>
    </div>
    </section>
</body>
</html>